:root {
  --link-color-hover: #2196F3;
  --button-color: white;
  --button-background: #2196F3;
  --primary-color: #212121;
  --secondary-color: #757575;
  --function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration-animation: 250ms;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}

a {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  list-style: none;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
  margin-right: 93px;
}
@media (max-width: 480px) {
  .header__logo {
    font-size: 24px;
    line-height: 1.1667;
  }
}
.header__item {
  margin-right: 50px;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media (max-width: 480px) {
  .header__item {
    display: none;
  }
}
.header__link {
  color: var(--primary-color);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
}
.header__link:hover, .header__link:focus {
  color: #2196F3;
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
}
.header__link--studio, .header__link--portfolio {
  color: #2196F3;
}

nav {
  font-family: Roboto, sans-serif;
}

.logo-web {
  color: #2196F3;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}
@media (max-width: 480px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo-link {
  text-decoration: none;
  color: black;
  display: block;
}

.logo-header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.current__page::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--button-background);
  bottom: -1px;
  content: "";
  border-radius: 2px;
}

.header__item.header__item--contacts {
  margin-right: 0px;
}

.icon-email {
  margin-right: 10px;
  --icon-color: currentColor;
}

.icon-phone {
  margin-right: 10px;
  --icon-color: currentColor;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-contacts__link {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
}
.header-contacts__item {
  margin-right: 50px;
}
@media (max-width: 480px) {
  .header-contacts__item {
    display: none;
  }
}
.header-contacts__item:nth-child(2) {
  margin-right: 0;
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--link-color-hover);
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
}

.burger-menu {
  display: none;
}
@media (max-width: 480px) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
  }
}
.burger-menu__icon {
  width: 40px;
  height: 40px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #2F303A;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
@media screen and (max-width: 480px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero__title {
  position: relative;
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
}
@media screen and (max-width: 480px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.615;
  }
}

.hero__button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--button-background);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
}
@media screen and (max-width: 480px) {
  .hero__button {
    max-width: 480px;
  }
}

.hero__button:hover,
.hero__button:focus {
  background-color: #188CE8;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__title {
  display: none;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.advantages__descripton {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 0%;
  margin-bottom: 0%;
}

.advantages__item {
  width: 270px;
  height: 248px;
}

.advantages__rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background-color: #F5F4FA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__icon {
  margin: 0 auto;
}

.what-do-we-do {
  padding-bottom: 94px;
}

.title-what-do-we-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  text-align: center;
  margin-top: 0%;
  margin-bottom: 50px;
}

.list-what-do-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-bottom: 0%;
  margin-top: 0%;
  padding-left: 0%;
  position: relative;
}

.image-what-do-we-do {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-what-do-we-do::before {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  content: "";
  background: rgba(47, 48, 58, 0.8);
}

.description-what-do-we-do {
  position: absolute;
  bottom: 27px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team-section {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0%;
}

.card-employee {
  text-align: center;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 50px;
}

.info {
  padding-top: 30px;
  padding-bottom: 16px;
}

.employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.block-social-media-employee {
  padding-bottom: 30px;
}

.list-social-media-employee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.icon-link-employee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
}

.icon-social-media-employee {
  fill: #AFB1B8;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.icon-link-employee:hover,
.icon-link-employee:focus {
  background-color: #2196F3;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
}

.icon-link-employee:hover .icon-social-media-employee,
.icon-link-employee:focus .icon-social-media-employee {
  fill: #FFFFFF;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.list-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
}

.icon-clients {
  fill: #AFB1B8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
}

.link-clients:hover,
.link-clients:focus {
  border: 1px solid #2196F3;
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
}

.link-clients:hover .icon-clients,
.link-clients:focus .icon-clients {
  fill: #2196F3;
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
}

.section-our-works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-works__title {
  display: none;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.buttons-filter:not(:last-child) {
  margin-right: 8px;
}

.buttons-filter-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background: #F5F4FA;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
}

.buttons-filter.marketing {
  margin-right: 0;
}

.buttons-filter-item:hover,
.buttons-filter-item:focus {
  color: white;
  background: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: transparent;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
}

.our-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding-left: 0%;
  gap: 30px;
}

.work-cards {
  max-width: 370px;
}

.product-thumb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.product-thumb::before {
  position: absolute;
  width: 370px;
  height: 294px;
  content: "";
  background-color: rgba(33, 150, 243, 0.9);
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-info {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  bottom: 0;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-main:hover .product-thumb::before,
.link-main:focus .product-thumb::before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
}

.link-main:hover .cards-info,
.link-main:focus .cards-info {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
}

.link-main {
  display: block;
  text-decoration: none;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
}

.link-main:hover,
.link-main:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
}

.info-portfolio {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  margin-bottom: 4px;
}

.subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 0%;
  margin-top: 0%;
}

.container.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.section-footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}

.link-footer-address {
  display: block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
}

.link-footer {
  display: block;
  text-decoration: none;
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
}

.list-footer {
  list-style: none;
  padding-left: 0%;
  margin: 0%;
}

.link-footer:hover,
.link-footer:focus {
  color: var(--link-color-hover);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
}

.contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.section-social-media-footer {
  margin-left: 70px;
}

.list-social-media-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.icon-link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
}

.icon-social-media-footer {
  fill: #FFFFFF;
}

.icon-link-footer:hover,
.icon-link-footer:focus {
  background: #2196F3;
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
}

.form-footer {
  margin-left: 93px;
}

.form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.telegram-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submit-email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #188CE8;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  margin-left: 12px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
}

.submit-email-form:hover,
.submit-email-form:focus {
  background-color: var(--button-background);
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
}

.icon-telegram {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 250ms, visibility 250ms;
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 528px;
  height: 581px;
  background-color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button-modal {
  position: absolute;
  display: block;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  top: 8px;
  right: 8px;
}

.button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.modal-close {
  width: 11px;
  height: 11px;
  fill: #000000;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
}

.button-modal:hover .modal-close,
.button-modal:focus .modal-close {
  fill: var(--button-background);
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-control {
  position: relative;
}

.title-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.label-form {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 4px;
}

.input-form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  outline: none;
}

.input-form:focus {
  border-color: var(--button-background);
}

.icon-control {
  position: absolute;
  left: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
}

.form-control:focus-within .icon-control {
  fill: var(--button-background);
}

.user-comment {
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.user-comment:focus {
  border-color: var(--button-background);
}

.label-form:nth-child(1) {
  margin-top: 0;
  margin-bottom: 4px;
}

.checkbox-form {
  display: base-line;
}

.checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox-label {
  position: relative;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 36px;
}

.checkbox-label::before {
  position: absolute;
  top: 0;
  left: 12px;
  width: 16px;
  height: 15px;
  border: 1.5px solid #212121;
  content: "";
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.checkbox-label::after {
  position: absolute;
  top: 0;
  left: 12px;
  width: 16px;
  height: 15px;
  content: "";
  background-image: url(../images/check.svg);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 0;
}

.checkbox-input:checked + .checkbox-label::after {
  opacity: 1;
}

.user-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #FFFFFF;
  border: transparent;
  padding: 10px 52px;
  background-color: #188CE8;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  margin-top: 30px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
}

.user-button:hover,
.user-button:focus {
  background-color: var(--button-background);
  -webkit-transition-duration: var(--duration-animation);
          transition-duration: var(--duration-animation);
  -webkit-transition-timing-function: var(--function);
          transition-timing-function: var(--function);
}

.button-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}/*# sourceMappingURL=main.css.map */