.advantages {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width: 480px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.advantages__title {
    display: none;
}

.advantages__list {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 480px) {
        flex-direction: column;
    }
}

.advantages__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-top: 30px;
    margin-bottom: 10px;

    @media screen and (max-width: 480px) {
        display: flex;
        justify-content: center;
    }
}

.advantages__descripton {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-top: 0%;
    margin-bottom: 0%;
}

.advantages__item {
    width: 270px;
    height: 248px;

    @media screen and (max-width: 480px) {
        width: 450px;
        height: 256px;
    }
}

.advantages__rectangle {
    display: flex;
    height: 120px;
    background-color: #F5F4FA;
    align-items: center;
}

.advantages__icon {
    margin: 0 auto;
}