.team-section {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-team {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0%;
}

.card-employee {
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 50px;
}

.info {
    padding-top: 30px;
    padding-bottom: 16px;
}

.employee {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #757575;
}

.block-social-media-employee {
    padding-bottom: 30px;
}

.list-social-media-employee {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon-link-employee {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    transition-property: background-color;
    transition-duration: var(--duration-animation);
}

.icon-social-media-employee {
    fill: #AFB1B8;

    transition-property: fill;
}

.icon-link-employee:hover,
.icon-link-employee:focus {
    background-color: #2196F3;
    transition-duration: var(--duration-animation);
    transition-timing-function: var(--function);
}

.icon-link-employee:hover .icon-social-media-employee,
.icon-link-employee:focus .icon-social-media-employee {
    fill: #FFFFFF;

    transition-duration: var(--duration-animation);
    transition-timing-function: var(--function);
}